@model int?
@{
    ViewBag.Title = "Event | List of Events";
  var eventList= _eventHandler.GetEvents().Result;
}
<div class="row">
    @foreach (var events in eventList)
    {
        <div class="col">
            <div class="card listedCard">
                <h5 class="card-header">@events.Title</h5>
                <div class="card-body">
                    <h5 class="card-title">@events.Date.ToShortDateString() (@events.Date.ToString("HH:mm")) in @events.Location</h5>
                    <p class="card-text">
                        @events.Descriptiton
                    </p>
                    <a asp-controller="Event" asp-action="JoinEvent" asp-route-id="@events.Id" class="btn btn-xm btn-primary">Join</a>
                </div>
            </div>
        </div>
    }
</div>