@model DateTime

@{
    ViewBag.Title = "Event | List of Events";
    var date = DateTime.Today;
    _eventHandler.GetEventsXDaysFromDate(date);
}
<div class="row">
    @foreach (var events in _eventHandler.Events)
    {
        <div class="col">
            <div class="card listedCard">
                <h5 class="card-header">@events.EventName</h5>
                <div class="card-body">
                    <h5 class="card-title">@events.ThisYearsEvent(date).ToString("dd'/'MM") in @events.EventLocation</h5>
                    <p class="card-text">
                        @events.Descriptiton
                    </p>
                    <a asp-controller="Event" asp-action="JoinEvent" asp-route-id="@events.Id" class="btn btn-xm btn-primary">Join</a>
                </div>
            </div>
        </div>
    }
</div>