@model Event
@{
    ViewBag.Title = "Event | Join Event";
}
<div class="row">
    <div class="col">
        <div class="card listedCard">
            <h5 class="card-header">@Model.Title</h5>
            <div class="card-body">
                <h5 class="card-title">@Model.Date.ToShortDateString() (@Model.Date.ToString("HH:mm")) in @Model.Location</h5>
                <p class="card-text">@Model.Description</p>
                <a asp-controller="Event" asp-action="Confirmation" asp-route-Id="@Model.Id" class="btn btn-primary" type="Submit">Join This Event</a>
                <a asp-controller="Event" asp-action="Index" class="btn btn-warning">Go Back to Events</a>
            </div>
        </div>
    </div>
</div>