@inject UserManager<User> _userManager
@{
    ViewBag.Title = "Event | My Events";
    var counter = 1;
    var user =await _userManager.GetUserAsync(User);
    var aa = _eventHandler.GetAttendee(user.Id);
    var myEvents = _eventHandler.GetMyEvents(aa);
    var attendee = _eventHandler.GetAttendee(_userManager.GetUserId(User));

}
<div class="row">
    <h3>@attendee.UserName's events list</h3>
</div>
@if (myEvents.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Location</th>
                <th scope="col">Event Date</th>
                <th scope="col">Organizer</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in myEvents)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Location</td>
                    <td>@item.Date</td>
                    <td>@item.Organizer?.UserName</td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h4>
            @attendee.UserName has not event yet!
        </h4>
    </div>
}