@{
    ViewBag.Title = "Event | My Events";
    int counter = 1;
    var myEvents = _eventHandler.GetMyEvents(1);
    var attendee = _eventHandler.GetAttendes(1);
}
<div class="row">
    <h3>@attendee.Name's events list</h3>
</div>
@if (myEvents.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Location</th>
                <th scope="col">Event Date</th>
                <th scope="col">Organizer</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in myEvents)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Location</td>
                    <td>@item.Date</td>
                    <td>@item.Organizer.Name</td>
                </tr>
                counter++;
            }



        </tbody>
    </table>
}
else
{
    <div>
        <h4>
            @attendee.Name still has not event yet!
        </h4>
    </div>
}